<nav class="navbar navbar-expand-md bg-body sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listings">All Listings</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List Property</a>
        <%if(!currUser){  %>
          <a class="nav-link" aria-current="page" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>