<%- layout("/layouts/boilerplate")%>
<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        Error: <%=status  %>
        <br>
        <%=message %>
      </div>
</div>